*.[pP][dD][fF] filter=lfs diff=lfs merge=lfs  
*.[pP][nN][gG] filter=lfs diff=lfs merge=lfs 
*.[jJ][pP][gG] filter=lfs diff=lfs merge=lfs 
*.[zZ][iI][pP] filter=lfs diff=lfs merge=lfs 
*.[pP][sS][dD] filter=lfs diff=lfs merge=lfs
*.7[zZ] filter=lfs diff=lfs merge=lfs
*.[mM][pP]4 filter=lfs diff=lfs merge=lfs
*.[pP][pP] filter=lfs diff=lfs merge=lfs
*.[pP][pP][tT][xX] filter=lfs diff=lfs merge=lfs
*.[pP][pP][tT] filter=lfs diff=lfs merge=lfs
*.[dD][oO][cC] filter=lfs diff=lfs merge=lfs
*.[dD][oO][cC][xX] filter=lfs diff=lfs merge=lfs
*.3[bB] filter=lfs diff=lfs merge=lfs
*.[sS][pP][pP] filter=lfs diff=lfs merge=lfs
*.[rR][aA][rR] filter=lfs diff=lfs merge=lfs
*.[sS][vV][gG] filter=lfs diff=lfs merge=lfs
*.[iI][sS][oO] filter=lfs diff=lfs merge=lfs
*.[pP][uU][rR] filter=lfs diff=lfs merge=lfs
